<template>
    <file-manager v-bind:settings="settings"></file-manager>
</template>

<script>
export default {
    name: 'Media',
    computed: {
        token: function () {
            return $cookies.get('token')
        }
    },
    data () {
        return {
            settings: {
                lang: 'hu',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    Authorization: `Bearer ${$cookies.get('token')}`
                }
            }
        }
    }
}
</script>

<style>
    .fm {
        min-height: 600px;
    }

    .fm .fm-body {
        min-height: 600px;
    }
</style>
