<template>
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside" style="opacity: 1;">

            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__info">
                                <a href="#" class="kt-widget__username">
                                    {{$t('Laravel')}}
                                </a>
                                <span class="kt-widget__desc">
                                    {{phpModules.laravel_version}} <br/>
                                    {{phpModules.php_version}} <br/>
                                    {{$t('SQL Mode')}}: {{phpModules.sql_mode}}
                                </span>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <hr/>
                            <div class="kt-widget__item" v-if="phpModules.database_config">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Database driver')}}</span>
                                    <span class="kt-widget__data">{{phpModules.database_config.default}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Database host')}}</span>
                                    <span class="kt-widget__data">{{phpModules.database_config.connections[phpModules.database_config.default].host}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Database port')}}</span>
                                    <span class="kt-widget__data">{{phpModules.database_config.connections[phpModules.database_config.default].port}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Username')}}</span>
                                    <span class="kt-widget__data">{{phpModules.database_config.connections[phpModules.database_config.default].username}}</span>
                                </div>
                            </div>
                            <hr/>
                            <div class="kt-widget__item" v-if="phpModules.email_config">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Mail driver')}}</span>
                                    <span class="kt-widget__data">{{phpModules.email_config.driver}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Mail host')}}</span>
                                    <span class="kt-widget__data">{{phpModules.email_config.host}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Mail port')}}</span>
                                    <span class="kt-widget__data">{{phpModules.email_config.port}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Username')}}</span>
                                    <span class="kt-widget__data">{{phpModules.email_config.username}}</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">{{$t('Encryption')}}</span>
                                    <span class="kt-widget__data">{{phpModules.email_config.encryption}}</span>
                                </div>
                            </div>
                            <hr/>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact" v-for="(item, index) in systemModules.enabled" v-bind:key="'system-modules-enabled-' + index">
                                    <span class="kt-widget__label kt-font-success" >{{index}}</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact" v-for="(item, index) in systemModules.disabled" v-bind:key="'system-modules-disabled' + index">
                                    <span class="kt-widget__label kt-font-danger">{{index}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__footer">
                            <button type="button" class="btn btn-label-success btn-lg btn-upper" @click="testEmail()">{{$t('Test Email configuration')}}
                            </button>
                        </div>
                    </div>

                    <!--end::Widget -->

                    <!--begin::Navigation -->
                    <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20 kt-hidden"
                        role="tablist">
                        <li class="kt-nav__item kt-nav__item--active">
                            <a class="kt-nav__link active" data-toggle="tab" href="#kt_profile_tab_personal_information"
                               role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                <span class="kt-nav__link-text">Personal Information</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" data-toggle="tab" href="#kt_profile_tab_account_information"
                               role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon2-protected"></i></span>
                                <span class="kt-nav__link-text">Acccount Information</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title=""
                               data-placement="right" data-original-title="This feature is coming soon!">
                                <span class="kt-nav__link-icon"><i class="flaticon2-hourglass-1"></i></span>
                                <span class="kt-nav__link-text">Payments</span>
                            </a>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title=""
                               data-placement="right" data-original-title="This feature is coming soon!">
                                <span class="kt-nav__link-icon"><i class="flaticon2-bell-2"></i></span>
                                <span class="kt-nav__link-text">Statements</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title=""
                               data-placement="right" data-original-title="This feature is coming soon!">
                                <span class="kt-nav__link-icon"><i class="flaticon2-medical-records-1"></i></span>
                                <span class="kt-nav__link-text">Audit Log</span>
                            </a>
                        </li>
                    </ul>

                    <!--end::Navigation -->
                </div>
            </div>

            <!--End::Portlet-->

            <div class="kt-portlet" v-if="socketEnabled">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{$t('System notification')}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget12">
                        <div class="kt-widget12__content">
                            <div class="kt-widget12__item">
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">{{$t('Notification message')}}</span>
                                    <span class="kt-widget12__value">
                                        <textarea class="form-control" v-model="notification"></textarea>
                                    </span>
                                </div>
                            </div>
                            <button type="button" class="btn btn-label-warning btn-upper" @click="sendNotification()">{{$t('Send notification')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin:: Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{$t('Maintenance Mode')}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <span class="kt-widget__desc kt-font-danger">{{$t('Use at your own risk! When maintenance mode turned on, visitors cannot see your website, but you can still access admin page.')}}</span>
                    <br/><br/>
                    <button type="button" class="btn btn-label-danger btn-upper" v-if="!maintenance" @click="maintenanceSwitch()">{{$t('Turn on Maintenance mode!')}}
                    </button>
                    <button type="button" class="btn btn-label-success btn-upper" v-if="maintenance" @click="maintenanceSwitch()">{{$t('Turn on Live mode!')}}
                    </button>
                </div>
            </div>

            <!--End:: Portlet-->
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                <div class="col">

                    <!--Begin::Section-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row row-no-padding row-col-separator-xl">
                                <div class="col-md-12 col-lg-12 col-xl-4">

                                    <!--begin:: Widgets/Stats2-1 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Memory limit')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{phpModules.memory_limit}}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('POST max size')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{phpModules.post_max_size}}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Upload max file size')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{phpModules.upload_max_filesize}}</span>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Stats2-1 -->
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-4">

                                    <!--begin:: Widgets/Stats2-2 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Memcached')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-success"
                                                  v-if="phpModules.memcached">{{$t('Enabled')}}</span>
                                            <span class="kt-widget1__number kt-font-danger"
                                                  v-else>{{$t('Disabled')}}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Redis')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-success" v-if="phpModules.redis">{{$t('Enabled')}}</span>
                                            <span class="kt-widget1__number kt-font-danger"
                                                  v-else>{{$t('Disabled')}}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('SQL Mode')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-success" v-if="phpModules.opcache">{{$t('Enabled')}}</span>
                                            <span class="kt-widget1__number kt-font-danger"
                                                  v-else>{{$t('Disabled')}}</span>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Stats2-2 -->
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-4">

                                    <!--begin:: Widgets/Stats2-3 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Cache driver')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-info">{{phpModules.cache_driver}}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Queue driver')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-info">{{phpModules.queue_driver}}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">{{$t('Session driver')}}</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-info">{{phpModules.session_driver}}</span>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Stats2-3 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End::Section-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">

                    <!--begin:: Widgets/Finance Summary-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    {{$t('Settings')}}
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget12">
                                <div class="kt-widget12__content">
                                    <div class="kt-widget12__item" v-for="(item, index) in settings" v-bind:key="index">
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">{{item.settings_key}}</span>
                                            <span class="kt-widget12__value">
                                                <textarea class="form-control"
                                                          v-model="settings[index].settings_value"></textarea>
                                            </span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-label-success btn-upper" @click="saveSettings()">{{$t('Save')}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end:: Widgets/Finance Summary-->
                </div>
                <div class="col-xl-6">

                    <!--begin:: Widgets/Authors Profit-->
                    <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    {{$t('Languages')}}
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget12">
                                    <div class="kt-widget12__content">
                                        <div class="kt-widget12__item" v-for="(item, index) in languages" v-bind:key="index">
                                            <div class="form-group row align-items-center">
                                                <div class="col-md-4">
                                                    <div class="kt-form__group--inline">
                                                        <div class="kt-form__label">
                                                            <label>{{$t('Language code')}}:</label>
                                                        </div>
                                                        <div class="kt-form__control">
                                                            <input type="text" class="form-control" v-model="languages[index].key">
                                                        </div>
                                                    </div>
                                                    <div class="d-md-none kt-margin-b-10"></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="kt-form__group--inline">
                                                        <div class="kt-form__label">
                                                            <label class="kt-label m-label--single">{{$t('Language name')}}:</label>
                                                        </div>
                                                        <div class="kt-form__control">
                                                            <input type="text" class="form-control" v-model="languages[index].value">
                                                        </div>
                                                    </div>
                                                    <div class="d-md-none kt-margin-b-10"></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="javascript:;" @click="deleteLanguage(index)"
                                                       class="btn-sm btn btn-label-danger btn-bold">
                                                        <i class="la la-trash-o"></i>
                                                        {{$t('Delete')}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-widget12__item">
                                            <a href="javascript:;" @click="addLanguage()"
                                               class="btn btn-bold btn-sm btn-label-brand">
                                                <i class="la la-plus"></i> {{$t('Add')}}
                                            </a>
                                        </div>
                                        <button type="button" class="btn btn-label-success btn-upper" @click="saveLanguages()">{{$t('Save')}}
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!--end:: Widgets/Authors Profit-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'

export default {
    name: 'Settings',
    components: { FormFileUpload },
    data () {
        return {
            phpModules: [],
            systemModules: [],
            settings: [],
            languages: [],
            maintenance: false,
            notification: null,
            moduleSettings: {}
        }
    },
    computed: {
        uri: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/system`
        },
        socketEnabled: function () {
            return process.env.MIX_ENABLE_SOCKET !== 'false'
        }
    },
    methods: {
        maintenanceSwitch () {
            this.axios.post(this.uri + '/maintenance-mode', {}).then((response) => {
                this.maintenance = !this.maintenance
            })
        },
        sendNotification () {
            if (this.notification === null) {
                return false
            }
            this.axios.post(this.uri + '/send-notifications', {
                action: this.notification
            }).then((response) => {
                this.notification = null
            })
        },
        saveSettings () {
            this.axios.post(this.uri + '/settings', { settings: this.settings }).then((response) => {

            })
        },
        addLanguage () {
            this.languages.push({ key: '', value: '' })
        },
        deleteLanguage (index) {
            this.languages.splice(index, 1)
        },
        testEmail () {
            this.axios.post(this.uri + '/test-email', {}).then((response) => {

            })
        },
        saveLanguages () {
            this.axios.post(this.uri + '/languages', { languages: this.languages }).then((response) => {

            })
        }

    },
    beforeMount () {
        this.axios.get(this.uri + '/php-modules').then((response) => {
            this.phpModules = response.data
        })
        this.axios.get(this.uri + '/system-modules').then((response) => {
            this.systemModules = response.data
        })
        this.axios.get(this.uri + '/settings').then((response) => {
            this.settings = response.data
        })
        this.axios.get(this.uri + '/languages').then((response) => {
            for (const it in response.data) {
                this.languages.push({ key: it, value: response.data[it] })
            }
        })
        this.axios.get(this.uri + '/maintenance-mode').then((response) => {
            this.maintenance = response.data.data
        })
    }
}
</script>
