<template>
    <div class="form-group checkbox" v-bind:class="inputClass">
        <div class="kt-checkbox-list">
            <label class="kt-checkbox" v-bind:class="{'is-invalid': hasError(name)}">
                <input type="checkbox" v-bind:readonly="readonly" v-bind:disabled="disabled" @input="sendChangeEvent" v-model="localValue" ><div v-html="title"></div>
                <span></span>
            </label>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormSingleCheckbox',
    extends: FormControl,
    methods: {
        sendChangeEvent () {
            this.$emit('changeEvent', this.localValue)
        }
    }
}
</script>
