<template>
    <div>

    </div>
</template>

<script>
export default {
    name: 'Form',
    props: {
        disableDefault: {
            type: Boolean,
            default: false
        },
        flag: {
            type: String,
            required: false
        },
        id: {
            type: String,
            required: false
        },
        value: {
            required: true
        },
        title: {
            type: String,
            required: false
        },
        placeholder: {
            type: String
        },
        type: {
            type: String,
            default: 'text'
        },
        inputClass: {
            type: String
        },
        helpText: {
            type: String,
            default: null
        },
        format: {
            type: String,
            default: 'YYYY-MM-DD'
        },
        prefix: {
            type: String,
            default: null
        },
        suffix: {
            type: String,
            default: null
        },
        select2: {
            type: Boolean,
            default: false
        },
        options: {
            required: false
        },
        multiple: {
            type: Boolean,
            default: false
        },
        rows: {
            type: Number,
            default: 3
        },
        readonly: {
            default: false
        },
        disabled: {
            default: false
        },
        nameAttr: {
            required: false
        },
        lang: {
            type: String
        },
        optionValueKey: {
            required: false
        },
        mask: {
            default: false,
            required: false
        },
        disabledDays: null,
        startDate: {
            type: String,
            required: false
        }
    },
    computed: {
        name: function () {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.localValue = this.value

            if (this.nameAttr) {
                return this.nameAttr
            }

            const str = this.$vnode.data.model.expression.split('.')
            if (str.length > 1) {
                str.shift()
                if (str[0].includes('[item]')) {
                    const hlp = str[0].replace('[item]', '')
                    str[0] = hlp + '.' + this.lang
                } else {
                    if (str[0].includes('[') || str[0].includes(']')) {
                        str.shift()
                    }
                }
            }
            return str.join('.')
        }
    },
    data () {
        return {
            localValue: null
        }
    },
    watch: {
        localValue: function (value) {
            this.$emit('input', value)
            this.$emit('change', value)
        }
    }
}
</script>
