<template>
    <div class="form-group recze radio" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="kt-radio-list">
            <label class="kt-radio" v-bind:class="{'is-invalid': hasError(name)}" v-for="(item, index) in options" v-bind:key="index">
                <input v-bind:readonly="readonly" v-bind:disabled="disabled" type="radio" v-model="localValue" :value="index" > {{item}}
                <span></span>
            </label>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormRadio',
    extends: FormControl
}
</script>
