<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <vue-tags-input v-model="tag" :tags="tags" :autocomplete-items="autocompleteItems" @tags-changed="update"
                        v-bind:readonly="readonly" v-bind:disabled="disabled"
                        v-bind:class="{'is-invalid': hasError(name)}"></vue-tags-input>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'
import VueTagsInput from '@johmun/vue-tags-input'

export default {
    name: 'FormTags',
    extends: FormControl,
    components: { VueTagsInput },
    data () {
        return {
            tag: '',
            initRun: 0
        }
    },
    created () {
        const self = this
        if (!self.options || self.options.length === 0) {
            self.options = []
        }
    },
    computed: {
        autocompleteItems: function () {
            if (this.options && Object.keys(this.options).length > 0) {
                const ai = []
                for (const it in this.options) {
                    ai.push({ text: this.options[it], id: it })
                }

                return ai
            }

            return []
        },
        tags: function () {
            if (this.localValue) {
                const tg = []
                for (const it in this.localValue) {
                    if (this.localValue[it].text) {
                        tg.push({ text: this.localValue[it].text, id: this.localValue[it].id, tiClasses: ['ti-valid'] })
                    } else {
                        tg.push({ text: this.localValue[it], id: it, tiClasses: ['ti-valid'] })
                    }
                }

                return tg
            }

            return []
        }
    },
    methods: {
        update (newTags) {
            // this.autocompleteItems = [];
            // this.tags = newTags
            this.$emit('input', newTags)
        }
    }
}
</script>
