<template>
    <div class="modal fade" id="fileChooseModal" tabindex="-1" role="dialog" aria-labelledby="fileChooseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileChooseModalLabel">{{$t('Choose file')}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <file-manager v-bind:settings="settings"></file-manager>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FormFileSelectModal',
    computed: {
        token: function () {
            return $cookies.get('token')
        },
        settings: function () {
            return {
                lang: this.$store.state.defaultStore.pageLanguage,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    Authorization: `Bearer ${$cookies.get('token')}`
                }
            }
        }
    }
}
</script>
