<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div></div>
        <div class="custom-file">
            <input v-bind:readonly="readonly" v-bind:disabled="disabled" type="file" class="custom-file-input" ref="file" v-on:change="handleFileUpload()" v-bind:id="id" v-bind:class="{'is-invalid': hasError(name)}">
            <label class="custom-file-label" style="text-align: left !important;" :for="id">{{$t('Choose file')}}</label>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormFileBasicUpload',
    extends: FormControl,
    methods: {
        handleFileUpload () {
            const self = this
            const formData = new FormData()
            formData.append('file', this.$refs.file.files[0])

            this.$http.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/upload-file`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                self.$emit('fileUpload', response.data)
                self.$refs.file.type = 'text'
                self.$refs.file.type = 'file'
            }).catch(function (err) {
                console.log('File upload error: ' + JSON.stringify(err))
            })
        }
    }
}
</script>
