<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title"><div style="display:inline" class="" v-if="flag"><img  style="width:30px;" :src="'/frontend/images/'+flag+'.svg'"/> </div> {{title}}</label>
        <textarea v-bind:readonly="readonly" v-bind:disabled="disabled" class="form-control" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id" :rows="rows" v-bind:class="{'is-invalid': hasError(name)}"></textarea>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormTextArea',
    extends: FormControl
}
</script>
