<template>
    <option :value="optionKey">{{optionValue}}</option>
</template>

<script>
export default {
    props: ['value', 'fKey', 'valueKey'],
    computed: {
        optionKey: function () {
            if (this.isObject(this.value) && this.value.id) {
                return this.value.id
            }

            return this.fKey
        },
        optionValue: function () {
            if (this.isObject(this.value)) {
                if (!this.valueKey) {
                    return this.value.name
                } else if (this.valueKey) {
                    return this.value[this.valueKey]
                }
            }

            return this.value
        }
    },
    methods: {
        isObject: function (o) {
            return typeof o === 'object'
        }
    }
}
</script>
