<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation" v-for="(lang,index) in languages" v-bind:key="'lang-'+lang+index">
                            <a class="nav-link" v-bind:class="{'active':lang == selectedLang}" id="home-tab" data-toggle="tab" :href="'#'+lang" @click="changeParams(lang)" role="tab" aria-controls="home" aria-selected="true">{{lang}}</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary" @click.prevent="saveCookie()">{{$t('Save')}}</button>
                    <button class="btn btn-primary" @click.prevent="publishCookie()">{{$t('Publish')}}</button>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade " role="tabpanel" aria-labelledby="home-tab"
                             v-for="(lang,index) in languages" v-bind:key="'tabs-'+lang+index" :id="lang"
                             v-bind:class="{'show active': lang === selectedLang}">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>{{$t('Default data')}}</h2>
                                    <FormInput v-model="model.title" :title="$t('Title')"></FormInput>
                                    <FormWyswygEditor v-model="model.lead" :title="$t('Lead')"></FormWyswygEditor>
                                    <FormInput v-model="model.link" :title="$t('Link')"></FormInput>
                                </div>
                                <div class="col-md-6">
                                    <h2>{{$t('Session cookie settings')}}</h2>
                                    <FormInput v-model="model.session_title"
                                               :title="$t('Session cookie title')"></FormInput>
                                    <FormWyswygEditor v-model="model.session_description"
                                                      :title="$t('Session cookie description')"></FormWyswygEditor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>{{$t('Analytics cookie settings')}}</h2>
                                    <FormInput v-model="model.analytics_title"
                                               :title="$t('Analitycs cookie title')"></FormInput>
                                    <FormWyswygEditor v-model="model.analytics_description"
                                                      :title="$t('Analitycs cookie description')"></FormWyswygEditor>
                                    <FormTextArea v-model="model.analytics_scripts"
                                                  :title="$t('Analytics scripts')"></FormTextArea>
                                </div>
                                <div class="col-md-6">
                                    <h2>{{$t('Marketing cookie settings')}}</h2>
                                    <FormInput v-model="model.marketing_title"
                                               :title="$t('Marketing cookie title')"></FormInput>
                                    <FormWyswygEditor v-model="model.marketing_description"
                                                      :title="$t('Marketing description')"></FormWyswygEditor>
                                    <FormTextArea v-model="model.marketing_scripts"
                                                  :title="$t('Marketing scripts')"></FormTextArea>
                                </div>
                            </div>
                            <h2>{{$t('Custom style settings')}}</h2>
                            <FormTextArea v-model="model.custom_css" :title="$t('Custom style')"></FormTextArea>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'

export default {
    name: 'CookieForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {
            selectedLang: null
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormWyswygEditor, FormTextArea },
    methods: {
        changeParams (lang) {
            this.selectedLang = lang
            this.$router.replace({ params: { lang: lang } })
        },
        saveCookie () {
            this.axios.post(this.url + '/save/' + this.selectedLang, this.model).then((response) => {
                console.log(response)
            })
        },
        publishCookie () {
            this.axios.post(this.url + '/publish/' + this.selectedLang, this.model).then((response) => {
                console.log(response)
            })
        }
    },
    created () {
        if (this.$route.params.lang) {
            console.log(this.$route.params.lang)
            this.selectedLang = this.$route.params.lang
        } else {
            this.selectedLang = 'hu'
        }
    },
    mounted () {
    }
}
</script>
