<template>
    <div>
        <router-view :url="url"></router-view>
    </div>
</template>

<script>
export default {
    name: 'Cookie',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/cookie`
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.$store.commit('defaultStore/setModel', val)
                }
            },
            deep: true
        },
        '$store.state.defaultStore.model': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.model = val
                }
            },
            deep: true
        }
    },
    methods: {

        getCookie () {
            let lang = 'hu'
            if (this.$route.params.lang) {
                lang = this.$route.params.lang
            }
            this.axios.get(this.url + '/index/' + lang).then((response) => {
                this.model = response.data.data
            })
        }
    }
}
</script>
