<template>
    <CookieForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></CookieForm>
</template>

<script>
import CookieForm from './CookieForm'
import Cookie from './Cookie'

export default {
    name: 'CookieCreate',
    extends: Cookie,
    data () {
        return {
            model: {}
        }
    },
    watch: {
        $route: {
            handler: function (val, old) {
                if (val.params.lang && val.params.lang !== old.params.lang) {
                    this.getCookie()
                }
            }
        }
    },
    components: { CookieForm },
    beforeMount: function () {
        this.handleCreate('cookie', this.url, {})

        this.getCookie()
    }
}
</script>
