<template>
    <TagForm v-if="Object.keys(model).length > 0" :url="url" :model="model" :tags="tags"></TagForm>
</template>

<script>
import TagForm from './TagForm'
import Tag from './Tag'

export default {
    name: 'TagCreate',
    extends: Tag,
    data () {
        return {
            model: {},
            tags: []
        }
    },
    components: { TagForm },
    beforeMount: function () {
        this.handleCreate('tag', this.url, {})

        this.getTag()
    }
}
</script>
