<template>
    <div>
        <FourStatistic :response="fourStatData" v-if="Object.keys(fourStatData).length > 0"></FourStatistic>
        <div class="" v-if="orders && orders.length > 0">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-xl">
                    <div class="col-md-12 col-lg-6 col-xl-4 p-2" v-for="(item, index) in orders" v-bind:key="'orders-' + index">
                        <router-link :to="{name: 'OrderList', query: { 'orderStatus.id' : item.osid}}">
                            <!--begin::Total Profit-->
                            <div class="kt-widget24" :style="'background:white;border-left:solid 5px ; color:'+item.badge">
                                <div class="kt-widget24__details">
                                    <div class="kt-widget24__info">
                                        <h2 class="kt-widget24__title">
                                            <router-link :to="{name: 'OrderList', query: { 'orderStatus.id' : item.osid}}" :style="'color:'+item.badge">{{JSON.parse(item.name)}}</router-link>
                                        </h2>
                                    </div>
                                    <span class="kt-widget24__stats kt-font-brand">
                                    <router-link :to="{name: 'OrderList', query: { 'orderStatus.id' : item.osid}}" :style="'color:'+item.badge">{{item.counted}}</router-link>
                                </span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FourStatistic from './dashboard/FourStatistic'
import UserProfile from './dashboard/UserProfile'
import BestSellers from './dashboard/BestSellers'
import NewItems from './dashboard/NewItems'
import Chart from './dashboard/Chart'

export default {
    name: 'Dashboard',
    components: { FourStatistic, UserProfile, BestSellers, NewItems, Chart },
    beforeMount: function () {
        this.$emit('updateDisable', true)

        this.axios.get(`${this.url}/dashboard`).then(response => {
            this.fourStatData = response.data.four_stat
            this.newItems = response.data.new_items
            this.orders = response.data.orders
            this.chart = response.data.chart
        })
    },
    data () {
        return {
            fourStatData: {},
            newItems: {},
            bestSellers: {},
            chart: {},
            orders: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        goTo (route) {
            this.$router.push(route)
        }
    }
}
</script>
