<template>
    <div></div>
</template>

<script>
export default {
    name: 'Logout',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    created: function () {
        const self = this
        self.axios.post(`${self.url}/logout`).finally(() => {
            self.$store.commit('defaultStore/setLoggedIn', false)
            self.$store.commit('defaultStore/setUser', {})
            localStorage.clear()
            $cookies.remove('token')
            document.location.href = `/${process.env.MIX_ADMIN_URL}/login`
        })
    }
}
</script>
