<template>
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(/assets/media/error/bg6.jpg);">
            <div class="kt-error-v1__container">
                <h1 class="kt-error-v1__number">{{$t('404')}}</h1>
                <p class="kt-error-v1__desc">
                    {{$t('OOPS! Something went wrong here')}}<br/>
                    <a href="javascript: history.go(-1)">{{$t('Return to previous page')}}</a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'NotFound'
}
</script>
