<template>
  <div>
    <div
      class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b"
      :style="{ backgroundImage: `url(${backgroundImage})` }"
    >
      <h3 class="kt-head__title">
          {{$t('User Notifications')}}
        <span class="ml-2 btn btn-success btn-sm btn-bold btn-font-md" v-if="unread > 0"
          >{{unread}} {{$t('new')}}</span
        >
      </h3>
      <ul
        class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x"
        role="tablist"
      >
        <li class="nav-item">
          <a
            v-on:click="setActiveTab"
            data-tab="0"
            class="nav-link active"
            data-toggle="tab"
            href="#"
            role="tab"
            >Alerts</a
          >
        </li>
      </ul>
    </div>

    <b-tabs class="kt-hide-tabs" v-model="tabIndex">
      <b-tab active>
        <perfect-scrollbar
          class="kt-notification kt-margin-t-10 kt-margin-b-10"
          style="max-height: 40vh; position: relative;"
        >
        <template v-for="(item, index) in notifications">
            <router-link :to="item.data.url" class="kt-notification__item" v-bind:key="index" v-if="item.data.url">
                <div class="kt-notification__item-icon">
                  <i class="kt-font-success" :class="item.data.icon"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                      {{item.data.title}} <br/>
                      {{item.data.action}}
                  </div>
                  <div class="kt-notification__item-time">{{item.created_at}}</div>
                </div>
            </router-link>
        </template>
        </perfect-scrollbar>
      </b-tab>
    </b-tabs>
  </div>
</template>

<style lang="scss">
/* hide default vue-bootstrap tab links */
.kt-hide-tabs > div:not(.tab-content) {
  display: none;
}
</style>

<script>
export default {
    name: 'KTDropdownNotification',
    data () {
        return {
            tabIndex: 0,
            unread: 0,
            notifications: [],
            timeout: null
        }
    },
    methods: {
        setActiveTab (event) {
            const tab = event.target.closest('[role="tablist"]')
            const links = tab.querySelectorAll('.nav-link')
            // remove active tab links
            for (let i = 0; i < links.length; i++) {
                links[i].classList.remove('active')
            }

            // set clicked tab index to bootstrap tab
            this.tabIndex = parseInt(event.target.getAttribute('data-tab'))

            // set current active tab
            event.target.classList.add('active')
        },
        readNotifications () {
            const self = this

            if (this.unread > 0) {
                self.axios.get(self.url + '/read-notification').then((response) => {
                    self.unread = 0
                })
            }
        },
        getNotifications () {
            const self = this

            this.axios.get(self.url + '/get-notifications/1').then((response) => {
                this.unread = response.data.length

                self.axios.get(self.url + '/get-notifications/0?limit=10').then((resp) => {
                    self.notifications = resp.data
                })
            })
        }
    },
    computed: {
        backgroundImage () {
            return process.env.MIX_APP_URL + '/' + 'assets/media/misc/bg-1.jpg'
        },
        socketEnabled: function () {
            return process.env.MIX_ENABLE_SOCKET
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/system`
        }
    },
    mounted () {
        const self = this
        const userId = $cookies.get('userId')

        self.getNotifications()

        if (this.socketEnabled === true || this.socketEnabled === 'true') {
            window.Echo.private(`users.${userId}`)
                .notification((notification) => {
                    self.getNotifications()
                })
        }
    }
}
</script>
