<template>
    <MemberForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></MemberForm>
</template>

<script>
import MemberForm from './MemberForm'
import Member from './Member'

export default {
    name: 'MemberEdit',
    extends: Member,
    data () {
        return {
            model: {}
        }
    },
    components: { MemberForm },
    beforeMount: function () {
        this.handleUpdate('members', this.url, {})

        this.getMember()
    }
}
</script>
