<template>
    <GaleryForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></GaleryForm>
</template>

<script>
import GaleryForm from './GaleryForm'
import Galery from './Galery'

export default {
    name: 'GaleryEdit',
    extends: Galery,
    data () {
        return {
            model: {}
        }
    },
    components: { GaleryForm },
    beforeMount: function () {
        this.handleUpdate('galery', this.url, {})

        this.getGalery()
    }
}
</script>
