<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{$t('Gallery details')}}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang1'+l">
                                <FormInput v-model = "model.name[l]" :title = "$t('Name')" :flag = "l"></FormInput>
                            </div>
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang2'+l">
                                <FormWyswygEditor v-model = "model.description[l]" :title = "$t('Description')" :flag = "l"></FormWyswygEditor>
                            </div>
                            <div class="col-md-6"><FormSelect v-model="model.category_id"  :title="$t('Category')" :options="model.selectables.categories"></FormSelect></div>
                            <div class="col-md-6"><FormSelect v-model="model.public"  :title="$t('Publikus')" :options="{1:'Igen',0:'Nem',2:'Portfolió'}"></FormSelect></div>
                            <div class="col-md-6"><FormDropZone  :title = "$t('Image')" :options = "{}" v-on:success="success($event)"></FormDropZone>
                                <ImageLazy v-if="model.lead_image" :image="model.lead_image" style="width:130px"></ImageLazy></div>
                        </div>
                        <div class="row" v-if="model.id">
                            <h2 class="col-md-12">Galery Images</h2>
                            <div class="col-md-12">
                            <FormDropZone  :max-files="1" :title = "$t('Image')" :options = "{}" v-on:success="successGalleryImage($event)"></FormDropZone>
                            </div>
                            <table class="table table-bordered" v-if="model.images && model.images.length">
                                <tr v-for="(image,index) in model.images" v-bind:key="'image-'+index">
                                    <td>
                                        <ImageLazy v-if="image.image" :image="image.image" style="width:100px"></ImageLazy>
                                    </td>
                                    <td>
                                        <div class="row">
                                        <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang1'+l+'-'+index">
                                            <FormInput v-model = "model.images[index].title[l]" :title = "$t('Title')" :flag = "l"></FormInput>
                                        </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                        <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang1'+l+'-'+index">
                                            <FormInput v-model = "model.images[index].description[l]" :title = "$t('lead')" :flag = "l"></FormInput>
                                        </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-success" @click="save(model.images[index],index)"><i class="fa fa-save"></i> </button>
                                        <button type="button" class="btn btn-xs btn-danger" @click="deleteImg(model.images[index],index)"><i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import ImageLazy from '../../../../../../resources/js/components/ImageLazy'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'

export default {
    name: 'GaleryForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormDropZone, FormSelect, ImageLazy, FormWyswygEditor },
    methods: {
        success ($event) {
            console.log('success')
            this.model.lead_image = $event
        },
        successGalleryImage ($event) {
            this.axios.post(this.url.replace('galery', 'galeryimages') + '/create', { galery_id: this.model.id, image: $event }).then(resp => {
                this.model.images.push(resp.data.data)
            })
        },
        save (data, index) {
            this.axios.put(this.url.replace('galery', 'galeryimages') + '/update/' + data.id, data).then(resp => {
                this.model.images[index] = resp.data.data
            })
        },
        deleteImg (data, index) {
            this.axios.delete(this.url.replace('galery', 'galeryimages') + '/delete/' + data.id).then(resp => {
                this.model.images = this.model.images.filter(img => img.id !== data.id)
            })
        }
    },

    created () {},
    mounted () {}
}
</script>
