<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Blog details') }}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class="row">
                        <div class="col-md-9">
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'title'+l">
                                <FormInput v-model = "model.title[l]" :flag = "l" :title = "$t('Title')"></FormInput>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lead'+l">
                                <FormTextArea v-model = "model.lead[l]" :flag="l" :title = "$t('Lead')"></FormTextArea>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'content'+l">
                                <FormWyswygEditor v-model = "model.content[l]" :flag="l"  :title = "$t('Content')"></FormWyswygEditor>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'metatitle'+l">
                                <FormInput v-model = "model.meta_title[item]" :flag="l"  :title = "$t('Meta Title')"
                                ></FormInput>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'metadesc'+l">
                            <FormTextArea v-model = "model.meta_description[item]" :flag="l" :title = "$t('Meta Description')"></FormTextArea>
                            </div>
                        </div>
                        </div>
                        <div class = "col-md-3">
                            <FormInput v-model = "model.slug" :title = "$t('Url')"
                                       v-on:keyupEvent = "setSlugEditSlug(item)"
                            ></FormInput>
                            <FormDateTimePicker v-model = "model.publication_date" :lang = "item"
                                                :title = "$t('Publication date')"
                            ></FormDateTimePicker>
                            <FormTags v-model = "model.tags" :title = "$t('Tags')" :lang = "item"
                                      :options = "credentials.tags"
                            ></FormTags>
                            <FormFileUpload v-model = "model.main_image" :lang = "item" :title = "$t('Main image')"
                            ></FormFileUpload>
                            <a :href = "fullUrl" target = "_blank">{{ fullUrl[item] }}</a>
                            <CategoryTree v-model = "model.categories" :lang = "item"
                                          :options = "credentials.categories"
                            ></CategoryTree>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormDateTimePicker from '../../../../../../resources/js/components/form/FormDateTimePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTags from '../../../../../../resources/js/components/form/FormTags'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import CategoryTree from './CategoryTree'

export default {
    name: 'BlogForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        credentials: {
            required: true,
            type: Object
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        },
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
                this.setSlugEditSlug(it)
            }
            return l
        }
    },
    data () {
        return {
            slugEditable: {}
        }
    },
    components: {
        CategoryTree,
        FormFileUpload,
        FormTags,
        FormSelect,
        FormDateTimePicker,
        FormDatePicker,
        FormWyswygEditor,
        FormCheckbox,
        FormTextArea,
        FormInput
    },
    methods: {
        fullUrl: function (_lang) {
            if (this.model.slug[_lang] === null) {
                return `${process.env.MIX_APP_URL}/`
            }
            return `${process.env.MIX_APP_URL}/${this.model.slug}`
        },
        setSlugEditSlug (_lang) {
            const self = this
            setTimeout(function () {
                self.model.slug = self.sanitizeTitle(self.model.slug)
            }, 500)
        }
    }
}
</script>
