<template>
    <BlogForm v-if="Object.keys(model).length > 0" :url="url" :model="model" :credentials="credentials"></BlogForm>
</template>

<script>
import BlogForm from './BlogForm'
import Blog from './Blog'

export default {
    name: 'BlogEdit',
    extends: Blog,
    data () {
        return {
            model: {},
            credentials: {}
        }
    },
    components: { BlogForm },
    beforeMount: function () {
        this.handleUpdate('blog', this.url, {})

        this.getBlog()
    }
}
</script>
