<style lang="scss">
    #cat_fieldset {
        border: 1px solid;
        max-height: 400px;
        overflow: auto;
        padding: 10px;
    }

    .tree_div {
        border: 1px solid;
        padding: 10px;
    }
</style>

<template>
    <div class="tree_div">
        <FormInput v-model="searchField" :title="$t('Search')"></FormInput>
        <fieldset id="cat_fieldset">
            <div class="kt-checkbox-list" v-for="(item, index) in filteredOptions" v-bind:key="index">
                <label class="kt-checkbox">
                    <input type="checkbox" v-model="value[item.id]" :value="item.id" v-on:change="emitParentChange(value[item.id], 1,  item.id)"> {{item.name}}
                    <span></span>
                    <template v-for="(item2, index2) in filteredOptions[index].children">
                        <div class="kt-checkbox-list" v-if="filteredOptions[index].children.length > 0"  v-bind:key="index2">
                            <label class="kt-checkbox">
                                <input type="checkbox" v-model="value[item2.id]" :value="item2.id" v-on:change="emitParentChange(value[item2.id], 2, item2.id, item.id)"> {{item2.name}}
                                <span></span>
                                <template v-for="(item3, index3) in filteredOptions[index].children[index2].children">
                                    <div class="kt-checkbox-list" v-if="filteredOptions[index].children[index2].children.length > 0"  v-bind:key="index3">
                                        <label class="kt-checkbox">
                                            <input type="checkbox" v-model="value[item3.id]" :value="item3.id" v-on:change="emitParentChange(value[item3.id], 3, item3.id,  item2.id, item.id)"> {{item3.name}}
                                            <span></span>
                                        </label>
                                    </div>
                                </template>
                            </label>
                        </div>
                    </template>
                </label>
            </div>
        </fieldset>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'CategoryTree',
    props: ['value', 'options'],
    data () {
        return {
            searchField: null
        }
    },
    components: { FormInput },
    watch: {
        value: {
            handler: function (val, oldVal) {
                this.$emit('input', val)
                this.$emit('change', val)
            },
            deep: true
        }
    },
    computed: {
        filteredOptions: function () {
            const self = this
            const newArr = []
            if (self.searchField && self.searchField.length > 0) {
                for (const it in self.options) {
                    if (self.options[it].name.toLowerCase().includes(self.searchField.toLowerCase())) {
                        newArr.push(self.options[it])
                    } else {
                        let haveFound = false
                        for (const it2 in self.options[it].children) {
                            if (self.options[it].children[it2].name.toLowerCase().includes(self.searchField.toLowerCase())) {
                                haveFound = true
                            } else {
                                for (const it3 in self.options[it].children[it2].children) {
                                    if (self.options[it].children[it2].children[it3].name.toLowerCase().includes(self.searchField.toLowerCase())) {
                                        haveFound = true
                                    }
                                }
                            }
                        }
                        if (haveFound) {
                            newArr.push(self.options[it])
                        }
                    }
                }

                return newArr
            }
            return self.options
        }
    },
    methods: {
        getOptionValue (_arr, _id) {
            return _arr.filter(function (t) {
                return parseInt(t.id) === parseInt(_id)
            })
        },
        emitParentChange (_lvl3Val, _level, _lvl3 = null, _lvl2 = null, _lvl1 = null) {
            switch (_level) {
            case 1:
                if (!_lvl3Val) {
                    for (const par in this.getOptionValue(this.options, _lvl3)[0].children) {
                        this.value[this.getOptionValue(this.options, _lvl3)[0].children[par].id] = false
                        for (const par2 in this.getOptionValue(this.options, _lvl3)[0].children[par].children) {
                            this.value[this.getOptionValue(this.options, _lvl3)[0].children[par].children[par2].id] = false
                        }
                    }
                }
                break
            case 2:
                if (_lvl3Val) {
                    this.value[_lvl2] = true
                } else {
                    const parentArr = this.getOptionValue(this.options, _lvl2)[0].children
                    for (const par in this.getOptionValue(parentArr, _lvl3)[0].children) {
                        this.value[this.getOptionValue(parentArr, _lvl3)[0].children[par].id] = false
                    }
                }
                break
            case 3:
                if (_lvl3Val) {
                    if (_lvl2 !== null) {
                        this.value[_lvl2] = true
                    }
                    this.value[_lvl1] = true
                }
                break
            }
        }
    }
}
</script>
