<template>
    <MessageForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></MessageForm>
</template>

<script>
import MessageForm from './MessageForm'
import Message from './Message'

export default {
    name: 'MessageCreate',
    extends: Message,
    data () {
        return {
            model: {}
        }
    },
    components: { MessageForm },
    beforeMount: function () {
        this.handleCreate('message', this.url, {})

        this.getMessage()
    }
}
</script>
