<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{ $t('Review') }}</h3>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">

                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang1'+l">
                            <FormTextArea v-model="model.comment[l]" :flag = "l" :title="$t('Komment')"></FormTextArea>
                            </div>
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang2'+l">
                            <FormInput v-model="model.title[l]" :flag = "l" :title="$t('Kép címe')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                            <FormInput v-model="model.name" :title="$t('Név')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                            <FormSelect v-model="model.rating" :title="$t('Értékelés')"
                                        v-if="model && model.selectables && {}" :options="{'1':1,'2':2,'3':3,'4':4,'5':5}"></FormSelect>
                            </div>
                            <div class="col-md-6">
                            <FormFileUpload v-model="model.image" :title="$t('Kép')" :options="{}"></FormFileUpload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'

export default {
    name: 'ReviewForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: {
        FormFileUpload,
        FormInput,
        FormSelect,
        FormTextArea
    },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
