<template>
    <ReviewForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ReviewForm>
</template>

<script>
import ReviewForm from './ReviewForm'
import Review from './Review'

export default {
    name: 'ReviewCreate',
    extends: Review,
    data () {
        return {
            model: {}
        }
    },
    components: { ReviewForm },
    beforeMount: function () {
        this.handleCreate('review', this.url, {})

        this.getReview()
    }
}
</script>
