<template>
    <div  :data-background-image="image" :data-background-image-set="imageSrcset" :style="style" class="lazyImageDiv"></div>
</template>

<script>

import ImageLazy from './ImageLazy'

export default {
    name: 'BackgroundLazy',
    extends: ImageLazy
}
</script>
