<template>
    <div class="kt-form kt-form--label-right">
        <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">
                <div class="row align-items-center">
                    <div class="kt-margin-b-20-tablet-and-mobile" v-for="(item, index) in localSearches"
                         v-bind:key="'filter-'+index" v-bind:class="divClass(item)">
                        <template v-if="localSearches && localSearches.length > 0
">
                            <FormInput v-if="item.type === 'text' || item.type === 'raw'" v-model="query[item.name]" :title="$t(item.title)"
                                       :placeholder="item.title" :name-attr="item.name"></FormInput>
                            <FormSelect v-if="item.type === 'select'" :select2="true" v-model="query[item.name]" :title="$t(item.title)"
                                        :options="item.data" :name-attr="item.name"></FormSelect>
                            <FormSelect v-if="item.type === 'json'" :select2="true" v-model="query[item.name]" :title="$t(item.title)"
                                        :options="item.data" :name-attr="item.name"></FormSelect>
                            <FormDateRangePicker v-if="item.type === 'date_interval'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormDateRangePicker>
                            <FormDatePicker v-if="item.type === 'date'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormDatePicker>
                            <FormTags v-if="item.type === 'tags'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormTags>
                            <div class="form-group" v-if="item.type === 'interval'">
                                <label>{{item.title}}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" style="max-width: 50%; width: 50%;">
                                        <input type="text" class="form-control" v-model="query[item.name + '_from']" :placeholder="$t('From')" :name-attr="item.name">
                                    </div>
                                    <input type="text" class="form-control" v-model="query[item.name + '_to']" :placeholder="$t('To')" :name-attr="item.name">
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="col kt-margin-b-20-tablet-and-mobile" v-if="!localSearches || localSearches.length < 1">
                        <FormInput v-model="query['search']" :title="$t('Search')" :placeholder="$t('Search in everything')"></FormInput>
                    </div>
                    <div class="col kt-margin-b-20-tablet-and-mobile">
                        <button @click="resetFilter" type="button" class="btn btn-danger" :title="$t('reset')"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                <div class="kt-portlet__head-toolbar">
                    <a href="#" class="btn btn-label-brand btn-sm  btn-bold dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{$t('Custom filters')}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__head">
                                <div class="input-group">
                                    <input type="text" class="form-control" :placeholder="$t('Filter name')"
                                           v-model="filterName">
                                    <div class="input-group-append">
                                        <button class="btn btn-brand" type="button" @click="saveFilter()">{{$t('Save')}}</button>
                                    </div>
                                </div>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item" v-for="(item, index) in filters" v-bind:key="index">
                                <router-link class="kt-nav__link" v-if="item.path === $route.name"
                                             :to="{name: item.path, params: item.params, query:item.query}">
                                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                                    <span class="kt-nav__link-text">{{item.name}}</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--danger"><i class="fa fa-trash"
                                                                                   @click="deleteFilter(item.id)"></i></span>
                                    </span>
                                </router-link>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__foot">
                                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="" :data-original-title="$t('You can save filters for later.')">{{$t('You can save filters for later.')}}</a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from './form/FormInput'
import FormSelect from './form/FormSelect'
import FormDateRangePicker from './form/FormDateRangePicker'
import FormDatePicker from './form/FormDatePicker'
import FormTags from './form/FormTags'

export default {
    name: 'BaseFilter',
    components: { FormTags, FormDatePicker, FormDateRangePicker, FormSelect, FormInput },
    props: {
        searches: {
            type: Array
        }
    },
    data () {
        return {
            query: {},
            filterName: null,
            timeout: null,
            filters: [],
            firstLoad: true,
            localSearches: []
        }
    },
    beforeMount () {
        this.localSearches = this.searches
        const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
        for (const it in this.localSearches) {
            this.query[it] = null
        }
        for (const it in routeQuery) {
            this.query[it] = routeQuery[it]
        }
    },
    mounted () {
        this.basicQueryInit(JSON.parse(JSON.stringify(this.$route.query)))

        this.filters = JSON.parse(localStorage.getItem('filters'))
    },
    watch: {
        query: {
            handler: function (val, oldVal) {
                console.log('changed')
                this.startFilter()
            },
            deep: true
        },
        $route: {
            handler: function (val, oldVal) {
                if (this.firstLoad) {
                    this.basicQueryInit(JSON.parse(JSON.stringify(val.query)))
                }
            },
            deep: true
        }
    },
    methods: {
        divClass: function (item) {
            let c = ''
            if (this.localSearches.length < 5) {
                c = 'col'
            } else {
                c = 'col-md-3'
            }
            if (item.type === 'date_interval') {
                c += ' m-t-25p'
            }

            return c
        },
        basicQueryInit (val) {
            this.query = {}
            for (const it in this.query) {
                if (val[it]) {
                    this.query[it] = val[it]
                } else {
                    this.query[it] = null
                }
            }
            console.log('basicQueryInit')
            this.firstLoad = false
        },
        deleteFilter (id) {
            const self = this
            const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/filter/delete`
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Confirm!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.delete(uri + '/' + id).then((response) => {
                        localStorage.setItem('filters', JSON.stringify(response.data))
                        self.filters = response.data
                    })
                }
            })
        },
        saveFilter () {
            const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
            const routeParams = JSON.parse(JSON.stringify(this.$route.params))
            if (this.filterName !== null && this.filterName !== '') {
                const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/filter/save`
                this.axios.post(uri, {
                    name: this.filterName,
                    path: this.$route.name,
                    query: routeQuery,
                    params: routeParams
                }).then((response) => {
                    this.filterName = null
                    localStorage.setItem('filters', JSON.stringify(response.data))
                    this.filters = response.data
                })
            }
        },
        startFilter () {
            clearTimeout(this.timeout)
            const self = this
            const routeQuery = JSON.parse(JSON.stringify(this.$route.query))

            const queryTmp = {}
            const newQueryTmp = {}
            for (const it in routeQuery) {
                queryTmp[it] = routeQuery[it]
            }

            for (const it in this.query) {
                queryTmp[it] = this.query[it]
            }

            for (const it in queryTmp) {
                if (queryTmp[it]) {
                    newQueryTmp[it] = queryTmp[it]
                }
            }

            this.timeout = setTimeout(function () {
                self.$router.replace({ query: Object.assign({}, newQueryTmp) })
            }, 500)
        },
        resetFilter () {
            if (Object.keys(this.$route.query).length > 0) {
                this.$router.replace({ name: this.$route.name })
            }
        }
    }
}
</script>
