<template>
    <div v-if="loaded" class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <base-filter v-if="filterLoaded" :searches="filters"></base-filter>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                 style="margin: 20px">
                <div v-if="multipleActions && multipleActions.actions" class="btn-group">
                    <a class="btn btn-circle btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                       aria-expanded="false"> {{$t('Group actions')}}
                        <i class=""></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-for="(action,index) in multipleActions.actions" v-bind:key="'dropdown-' + index">
                            <a href="javascript:;" @click="handleTrigger(action.trigger)"> {{action.name}}

                            </a>
                        </li>

                    </ul>
                </div>
                <div class="table-responsive">
                    <vuetable ref="vuetable"
                              :api-url="listUrl"
                              :fields="computedFields"
                              :css="css.table"
                              :per-page="per_page"
                              pagination-path=""
                              :track-by="trackBy"
                              :initial-page="initialPage"
                              data-path="mydata"
                              :append-params="queryParams"
                              :no-data-template="$t('No releavant data')"
                              :http-options="{ headers: {Authorization: 'Bearer ' + token, Language: language} }"
                              @vuetable:pagination-data="onPaginationData"
                              @vuetable:loaded="onLoaded"
                              @vuetable:load-success="loadSuccess"
                              @vuetable:checkbox-toggled="toggledChbox($event)"
                              @vuetable:checkbox-toggled-all="toggledChbox($event)"
                    >
                        <template slot="checkboxSupplier" slot-scope="props">
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" @change="setChecked(props.rowData)">
                                    <span></span>
                                </label>
                            </div>
                        </template>
                        <template slot="orderStatus" slot-scope="props">
                            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded" v-bind:class="'kt-badge--' + props.rowData.order_status.badge">{{props.rowData.order_status_name}}</span>
                        </template>
                        <template slot="image" slot-scope="props">
                            <ImageLazy style="max-width: 150px" :image="props.rowData.lead_image" :alt="props.rowData.name"></ImageLazy>
                        </template>
                        <template slot="image-def" slot-scope="props">
                            <ImageLazy style="max-width: 150px" :image="props.rowData.image" :alt="props.rowData.name"></ImageLazy>
                        </template>
                        <template slot="slider_image" slot-scope="props">
                            <ImageLazy style="max-width: 150px" :image="props.rowData.image_path" :alt="props.rowData.name"></ImageLazy>
                        </template>
                        <template slot="stockInput" slot-scope="props">
                            <div class="row">
                                <template v-for="(item, index) in props.rowData.stocks">
                                    <div class="col" v-bind:key="'stocks-' + index + '-' + props.rowIndex" v-if="item !== false">
                                        <FormNumberInput v-model="props.rowData.stocks[index].quantity" :title="props.rowData.stocks[index].name" :min="0"></FormNumberInput>
                                    </div>
                                </template>
                            </div>
                        </template>
                        <template slot="updateStock" slot-scope="props">
                            <button type="button" class="btn btn-info" @click="updateStock(props)">{{$t('Update')}}</button>
                        </template>
                        <template slot="actions" slot-scope="props">
                            <div class="btn btn-outline btn-xs btn-primary" @click="editAction(props.rowData, props.rowIndex)"><i
                                        class="la la-edit"></i> </div>
                                    <div class="btn btn-outline btn-xs btn-danger" @click="deleteAction(props.rowData, props.rowIndex)"><i
                                        class="la la-trash"></i> </div>
                        </template>
                        <template slot="actionsOrder" slot-scope="props">
                            <div class="btn btn-outline btn-xs btn-primary" @click="editAction(props.rowData, props.rowIndex)"><i
                                class="la la-edit"></i> </div>
                        </template>
                    </vuetable>
                </div>
                <div class="kt-datatable__pager kt-datatable--paging-loaded">
                    <vuetable-pagination-bootstrap ref="pagination" class="pull-right"
                                                   @vuetable-pagination:change-page="onChangePage"></vuetable-pagination-bootstrap>

                    <vuetable-pagination-info v-if="language != 'hu'" ref="paginationInfo"
                                              info-template="Showing record {from} to {to} of {total} records"
                                              no-data-template="No relevant data">

                    </vuetable-pagination-info>
                    <vuetable-pagination-info v-if="language == 'hu'" ref="paginationInfo"
                                              info-template="Találatok mutatása {from}-tól {to}-ig a {total}-ból"
                                              no-data-template="Nincs találat">

                    </vuetable-pagination-info>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationBootstrap from './VuetablePaginationBootstrap'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import BaseFilter from './BaseFilter'
import ImageLazy from './ImageLazy'
import FormInput from './form/FormInput'
import FormNumberInput from './form/FormNumberInput'
import {
    ADD_BODY_CLASSNAME,
    REMOVE_BODY_CLASSNAME
} from '../store/modules/htmlclass.module.js'
import swal from 'sweetalert2'
export default {
    name: 'BaseDatatable',
    props: {
        multipleActions: {
            localStorageVariable: String,
            actions: Object // {title:"Move To",trigger: 'moveTo'}
        },
        /* example
             * multipleActions:{
                         localStorageVariable: 'selectedLead', // milyen local Storagebe rakja
                         trackBy: 'name', //milyik oszlopot figyelje
                         actions: [
                              {
                                  name:'Add to event',
                                  trigger: 'addToEvent', Ezt az eventet triggerele ha kattint, fel kell iratkozni az datatable-ben rá
                              },
                         ]
                        },
              * */
        selectedIds: {
            type: Array
        },
        apiurl: {
            type: String,
            required: true
        },
        module: {
            type: String,
            required: true
        },
        fields: {
            type: Array,
            required: true
        },
        sortOrder: {
            type: Array,
            default () {
                return []
            }
        },
        loaded: {
            default: 1
        },
        listUrl: {
            required: true
        },
        detailRowComponent: {
            type: String
        }
    },
    data () {
        return {
            filterLoaded: false,
            trackBy: 'id',
            loading: true,
            token: $cookies.get('token'),
            moreParams: JSON.parse(JSON.stringify(this.$route.query)),
            filters: [],
            per_page: 20,
            initialPage: 1,
            baseUrl: process.env.API_URL,
            css: {
                table: {
                    tableClass: 'table table-bordered table-striped',
                    ascendingIcon: 'fa fa-caret-down',
                    descendingIcon: 'fa fa-caret-up'
                }
            }
        }
    },
    components: {
        FormNumberInput,
        FormInput,
        ImageLazy,
        BaseFilter,
        VuetablePaginationBootstrap,
        Vuetable,
        VuetablePaginationInfo
    },
    computed: {
        language: function () {
            return localStorage.getItem('language')
        },
        queryParams: function () {
            return JSON.parse(JSON.stringify(this.$route.query))
        },
        computedFields: function () {
            let f = this.fields
            if (this.multipleActions && this.multipleActions.actions) {
                var checkbox = {
                    name: '__checkbox', // <----
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'

                }
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.trackBy = (this.multipleActions.trackBy) ? this.multipleActions.trackBy : 'id'
                f = [checkbox].concat(this.fields)
            }
            return f
        }
    },
    created () {
        const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
        this.$store.dispatch(ADD_BODY_CLASSNAME, 'kt-page--loading')

        if (this.$route.query.per_page) {
            this.per_page = parseInt(routeQuery.per_page)
        }

        if (this.$route.query.page) {
            this.initialPage = routeQuery.page
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                this.sendFilter()
            },
            deep: true
        }
    },
    methods: {
        toggledChbox (event) {
            if (this.multipleActions) {
                localStorage.setItem(this.multipleActions.localStorageVariable, this.$refs.vuetable.selectedTo)

                console.log(this.$refs.vuetable.selectedTo)
            }
        },
        handleTrigger (trigger) {
            if (trigger === 'bulkDelete') {
                this.bulkDeleteAction()
            } else {
                this.$emit(trigger)
            }
        },
        setChecked (data) {
            let haveIn = false
            for (const it in this.selectedIds) {
                if (this.selectedIds[it].id === data.id) {
                    haveIn = it
                }
            }

            if (!haveIn) {
                this.selectedIds.push(data)
            } else {
                this.selectedIds.splice(haveIn, 1)
            }
        },
        sendFilter () {
            const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
            if (this.$route.query.per_page) {
                this.per_page = parseInt(routeQuery.per_page)
            }

            if (this.$route.query.page) {
                this.onChangePage(parseInt(routeQuery.page))
            }

            if (JSON.stringify(this.moreParams) !== JSON.stringify(routeQuery)) {
                this.moreParams = routeQuery

                this.$nextTick(() => this.$refs.vuetable.refresh())
            }
        },
        onLoaded () {
            this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'kt-page--loading')
        },
        loadSuccess (_payload) {
            this.filters = _payload.data.filters
            this.filterLoaded = true
        },
        editAction (data, index, props) {
            this.$router.push(`/${process.env.MIX_ADMIN_URL}/${this.module}/edit/${data.id}`)
        },
        bulkDeleteAction () {
            const selectedIds = this.$refs.vuetable.selectedTo
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Yes, delete it!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.$http.delete(self.apiurl + '/bulk-delete', {
                        headers: {
                            Authorization: 'Bearer ' + self.token,
                            language: self.$store.state.defaultStore.language
                        },
                        params: {
                            ids: selectedIds
                        }
                    }).then(res => {
                        if (res.data.data.message === 'OK') {
                            self.$nextTick(() => self.$refs.vuetable.refresh())

                            swal.fire(this.$t('Deleted!'), this.$t('Rows has been deleted.'), 'success')
                        }
                    }).catch(res => {

                    })
                }
            })
        },
        deleteAction (data, index) {
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Yes, delete it!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.$http.delete(self.apiurl + `/delete/${data.id}`, {
                        headers: {
                            Authorization: 'Bearer ' + self.token,
                            language: self.$store.state.defaultStore.language
                        }
                    }).then(res => {
                        if (res.data.data.message === 'OK') {
                            self.$nextTick(() => self.$refs.vuetable.refresh())

                            swal.fire(this.$t('Deleted!'), this.$t('Row has been deleted.'), 'success')
                        }
                    }).catch(res => {

                    })
                }
            })
        },
        onPaginationData (paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationInfo.setPaginationData(paginationData)
        },
        onChangePage (page) {
            this.$refs.vuetable.changePage(page)
        },
        transform: function (data) {
            const transformed = {}

            transformed.pagination = {
                total: data.meta.total,
                per_page: data.meta.per_page,
                current_page: data.meta.current_page,
                last_page: data.meta.last_page,
                next_page_url: (data.links.next !== null) ? data.links.next : data.links.last,
                prev_page_url: (data.links.prev !== null) ? data.links.prev : data.links.first,
                from: data.meta.from,
                to: data.meta.to
            }

            transformed.total = data.meta.total
            transformed.per_page = data.meta.per_page
            transformed.current_page = data.meta.current_page
            transformed.last_page = data.meta.last_page
            transformed.next_page_url = data.links.next
            transformed.prev_page_url = data.links.prev
            transformed.from = data.meta.from
            transformed.to = data.meta.to

            transformed.mydata = []

            for (let i = 0; i < data.data.length; i++) {
                transformed.mydata.push(data.data[i])
            }

            return transformed
        },
        updateStock (_props) {
            this.$emit('updateStock', _props.rowData)
        }
    }
}
</script>
<style>
    .btn i{
        padding:0 !important;
    }
</style>
