<template>
    <span>{{formattedPrice}}</span>
</template>

<script>
export default {
    name: 'Price',
    props: {
        prefix: {
            type: String,
            default: ''
        },
        suffix: {
            type: String,
            default: 'Ft'
        },
        decimalCount: {
            type: Number,
            default: 0
        },
        decimalSeparator: {
            type: String,
            default: '.'
        },
        thousandSeparator: {
            type: String,
            default: ' '
        },
        value: {
            type: String,
            required: true
        }
    },
    computed: {
        formattedPrice: function () {
            try {
                let value = this.value.toString()
                const negativeSign = parseFloat(value) < 0 ? '-' : ''
                if (negativeSign) {
                    value = this.value.replace('-', '')
                }
                const i = value.replace(',', '.').split('.')
                let whole = i[0]
                const fraction = (i.length > 1) ? i[1] : ''

                let newWhole = ''
                const iteration = Array.from(whole).reverse()
                for (let i = 1; i < iteration.length + 1; i++) {
                    newWhole += iteration[i - 1]
                    if (i % 3 === 0) {
                        newWhole += this.thousandSeparator
                    }
                }
                whole = Array.from(newWhole).reverse().join('')
                let newFraction = ''
                for (let j = 1; j < this.decimalCount + 1; j++) {
                    if (fraction) {
                        newFraction += Array.from(fraction)[j - 1]
                    } else {
                        newFraction += '0'
                    }
                }

                return ((this.prefix) ? this.prefix + ' ' : '') + negativeSign + whole + ((this.decimalCount > 0) ? this.decimalSeparator + newFraction : '') + ((this.suffix) ? ' ' + this.suffix : '')
            } catch (e) {
                return this.value
            }
        }
    }
}
</script>
