<template>
    <ul class="kt-datatable__pager-nav">
        <li>
            <a href="" @click.prevent="loadPage(1)" class="kt-datatable__pager-link kt-datatable__pager-link--first" :class="{'kt-datatable__pager-link--disabled': isOnFirstPage}">
                <i class="flaticon2-fast-back"></i>
            </a>
        </li>
        <li>
            <a href="" @click.prevent="loadPage('prev')" class="kt-datatable__pager-link kt-datatable__pager-link--prev" :class="{'kt-datatable__pager-link--disabled': isOnFirstPage}">
                <i class="flaticon2-back"></i>
            </a>
        </li>

        <li></li>

        <template v-if="notEnoughPages">
            <li v-for="n in totalPage" v-bind:key="n">
                <a @click.prevent="loadPage(n)" :class="{'kt-datatable__pager-link--active': isCurrentPage(n)}" v-html="n" class="kt-datatable__pager-link kt-datatable__pager-link-number"></a>
            </li>
        </template>
        <template v-else>
            <li v-for="n in windowSize" v-bind:key="n">
                <a @click.prevent="loadPage(windowStart+n-1)" v-html="windowStart+n-1" class="kt-datatable__pager-link kt-datatable__pager-link-number" :class="{'kt-datatable__pager-link--active': isCurrentPage(windowStart+n-1)}"></a>
            </li>
        </template>

        <li></li>

        <li>
            <a href="" @click.prevent="loadPage('next')" class="kt-datatable__pager-link kt-datatable__pager-link--next" :class="{'kt-datatable__pager-link--disabled': isOnLastPage}">
                <i class="flaticon2-next"></i>
            </a>
        </li>

        <li>
            <a href="" @click.prevent="loadPage(totalPage)" class="kt-datatable__pager-link kt-datatable__pager-link--last" :class="{'kt-datatable__pager-link--disabled': isOnLastPage}">
                <i class="flaticon2-fast-next"></i>
            </a>
        </li>
    </ul>
</template>

<script>
import VuetablePaginationMixin from 'vuetable-2/src/components/VuetablePaginationMixin'
export default {
    name: 'VuetablePaginationBootstrap',
    mixins: [VuetablePaginationMixin]
}
</script>
