<template>

    <form method='POST' v-on:submit.prevent="handleSubmit">
        <div class="kt-portlet">
            <!--begin: Form Body -->
            <div class='kt-portlet__body'>
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="kt-section__title kt-section__title-sm">{{$t(' Module Details')}}:</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <FormInput v-model="form.moduleName" :title="$t('Model Name')" id="moduleName"> </FormInput>
                                    </div>
                                    <div class="col-md-6">
                                        <FormInput v-model="form.collection"  :title="$t('Table name')" id="collection"> </FormInput>
                                    </div>
                                    <div class="col-md-6">
                                        <FormInput v-model="form.route" :title="$t('Route')" id="route" input-class="has-danger"> </FormInput>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <FormRadio v-model="options.softdeletes" :title="$t('Soft Deletes')" :options="{0: $t('No'), 1: $t('Yes')}"></FormRadio>
                                    </div>
                                    <div class="col-md-12">
                                        <FormRadio v-model="options.modelCache" :title="$t('Model Cache')" :options="{0: $t('No'), 1: $t('Yes')}"></FormRadio>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <FormCheckbox v-model="form.timestamp" :title="$t('Timestamps')" :options="{'updated_at':$t('Updated'),'created_at':$t('Created')}"></FormCheckbox>
                                    </div>
                                    <div class="col-md-12">
                                        <FormCheckbox v-model="form.middlewares" :options="middlewares" :title="$t('Middleware settings') + ':'"> </FormCheckbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                        <div class="row">
                            <div class="col-lg-10 col-xl-10">
                                <h3 class="kt-section__title kt-section__title-sm">{{$t('Model relationship')}}:</h3>
                            </div>
                            <div class="col-lg-2 col-xl-2 text-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success pull-right btn-bold" @click="addRelation">{{$t('Add relation')}}</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <th>{{$t('Model')}}</th>
                                        <th>{{$t('Relation type')}}</th>
                                        <th>{{$t('Foreign Key')}}</th>
                                        <th>{{$t('Related Key')}}</th>
                                        <th>{{$t('Table')}}</th>
                                        <th>{{$t('Action')}}</th>
                                    </tr>

                                        <tbody>
                                        <template v-for="(row, index) in relations">
                                            <tr v-bind:key="'relations-' + index">
                                                <td>
                                                    <select class="form-control" v-model="relations[index].model">
                                                        <option value="">{{$t('NONE')}}</option>
                                                        <option v-for="mIt in models" v-bind:key="mIt">{{mIt}}</option>
                                                   </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" v-model="relations[index].relation">
                                                        <option value="">{{$t('NONE')}}</option>
                                                        <option value="belongsto">{{$t('One to Many Inverse(belongsto)')}}</option>
                                                        <option value="belongstomany">{{$t('Many to Many(belongstomany)')}}</option>
                                                        <option value="hasmany">{{$t('One to Many(hasmany)')}}</option>
                                                        <option value="hasone">{{$t('One to One(hasone)')}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="relations[index].foreignKey">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="relations[index].relatedKey">
                                                </td>
                                                <td>
                                                    <input v-if="relations[index].relation === 'belongstomany'" type="text" class="form-control" v-model="relations[index].table">
                                                </td>
                                                <td>
                                                    <a @click="deleteRelation(index)" class="btn btn-sm btn-clean btn-icon btn-icon-md" :title="$t('Delete')">
                                                        <i class="la la-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </template>
                                        </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                <div class='row'>
                    <div class='col-xl-12'>
                        <Builder :models="models"  :fields="fields" ></Builder>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import Builder from './Builder'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormRadio from '../../../../../../resources/js/components/form/FormRadio'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {

    name: 'ModuleBuilderCreate',
    components: { FormSelect, FormRadio, FormCheckbox, FormInput, Builder },
    data () {
        return {
            middlewares: [],
            active_panel: 'DATA',
            models: [],
            fields: [],
            relations: [],
            newOrExisting: '',
            inputs: {},
            options: {
                softdeletes: 1,
                modelCache: 1
            },
            form: {
                middlewares: [
                    'auth:sanctum',
                    'role',
                    'accesslog'
                ],
                timestamp: [
                    'created_at',
                    'updated_at'
                ]
            },
            submitData: {
                moduleName: '',
                collection: '',
                newOrExist: '',
                fields: '',
                route: '',
                middlewares: [],
                relations: [],
                options: {
                    softdeletes: 1,
                    modelCache: 1,
                    timestamps: [],
                    fillable: [],
                    searchColumns: {},
                    searchColumnLabels: {},
                    resource: [],
                    show_list: [],
                    has_translation: 0
                },
                inputs: {}
            }
        }
    },
    props: {
        url: {
            required: true,
            type: String
        }
    },
    beforeMount: function () {
        const self = this
        // this.relations.push({ model: '', relation: '' })

        this.$eventHub.$on('save', function () {
            const data = self.handleSubmit()
            self.axios.post(self.url + '/create', data).then((response) => {
                this.$router.push(`/${process.env.MIX_ADMIN_URL}`)
            }).catch((err) => {
                self.$store.commit('defaultStore/setErrors', err.response.data.errors)
            })
        })
    },
    watch: {
        'form.route': {
            handler (val) {
                if (val !== undefined && val.startsWith('/') === false) {
                    this.form.route = '/' + this.form.route.toLowerCase()
                }
            },
            deep: true
        },
        'form.collection': {
            handler (val) {
                if (val !== undefined) {
                    this.form.collection = this.form.collection.toLowerCase()
                }
            },
            deep: true
        }
    },
    methods: {
        addRelation: function () {
            this.relations.push({ model: '', relation: '', foreignKey: '', relatedKey: '', table: '' })
        },
        deleteRelation: function (index) {
            this.relations.splice(index, 1)
        },
        handleSubmit: function () {
            this.submitData.newOrExist = this.newOrExisting
            this.submitData.moduleName = this.form.moduleName
            this.submitData.collection = this.form.collection
            this.submitData.route = this.form.route
            this.submitData.options.timestamps = this.form.timestamp
            this.submitData.options.softdeletes = this.options.softdeletes
            this.submitData.options.modelCache = this.options.modelCache
            this.submitData.middlewares = this.form.middlewares
            this.submitData.fields = this.fields
            this.submitData.relations = this.relations
            this.submitData.form = this.form

            return this.submitData
        }
    },
    mounted: function () {
        const self = this
        this.$http
            .get(this.url + '/settings/get-middlewares', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')

                }
            }).then(res => {
                self.middlewares = res.data.data
            }).catch(res => {

            })

        this.$http
            .get(this.url + '/settings/get-models', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')

                }
            }).then(res => {
                self.models = res.data.data
            }).catch(res => {

            })
    },
    beforeDestroy () {
        this.$eventHub.$off('save')
    }
}
</script>
