<template>
  <ul class="kt-menu__nav">
    <template v-for="(menu, i) in menuItems">
      <KTMenuItem v-if="!menu.section" :menu="menu" :key="i"></KTMenuItem>
      <KTMenuSection v-if="menu.section" :menu="menu" :key="i"></KTMenuSection>
    </template>
  </ul>
</template>

<script>
import KTMenuItem from '../../theme/aside/MenuItem.vue'
import KTMenuSection from '../../theme/aside/MenuSection.vue'

export default {
    name: 'KTAsideMenu',
    components: {
        KTMenuItem,
        KTMenuSection
    },
    data () {
        return {
            menuItems: []
        }
    },
    beforeMount () {
        const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/menu`
        this.axios.get(uri).then((response) => {
            this.menuItems = response.data
        })
    }
}
</script>
