<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.name" :title="$t('Name')"></FormInput>
                    <FormTextArea v-model="model.description" :title="$t('Description')"></FormTextArea>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{$t('Access menu')}}</h3>
                            <div class="form-group">
                                <div class="kt-checkbox-list">
                                    <label class="kt-checkbox" v-for="(item, index) in credentials.menus" v-bind:key="index">
                                        <input type="checkbox" v-model="model.menu[item.route]" :value="item.route"> {{$t(item.title)}}
                                        <span></span>
                                        <div class="kt-checkbox-list" v-if="item.submenu" style="margin-top: 10px">
                                            <label class="kt-checkbox" v-for="(item2, index2) in item.submenu" v-bind:key="index2+'-sub'">
                                                <input type="checkbox" v-model="model.menu[item2.route]" :value="item2.route"> {{$t(item2.title)}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>{{$t('Access functions')}}</h3>
                            <div class="form-group">
                                <div class="kt-checkbox-list" style="display: grid; grid-template-columns: 50% 50%;">
                                    <label class="kt-checkbox" v-for="(item, index) in credentials.routes" v-bind:key="index">
                                        <input type="checkbox" v-model="model.access[item.action.controller]" :value="item.action.controller"> {{$t(item.action.as)}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'

export default {
    name: 'RoleForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        credentials: {
            required: true,
            type: Object
        }
    },
    components: { FormCheckbox, FormTextArea, FormInput }
}
</script>
