<template>
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">

                </h3>
                <div class="kt-section__content kt-section__content--solid--">
                    <div class="kt-searchbar">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero"></path>
                                </g>
                            </svg></span></div>
                            <input type="text" v-model="search" class="form-control" :placeholder="$t('Search')" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item" v-for="(item, index, num) in languages" v-bind:key="index">
                    <a class="nav-link" v-bind:class="{active: (num == 0)}" data-toggle="tab" :href="'#kt_tabs_'+index">{{index}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" v-bind:class="{active: (numx == 0)}" :id="'kt_tabs_'+index" role="tabpanel" v-for="(item, index, numx) in filterList" v-bind:key="index+'-panel'">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{$t('Key')}}</th>
                                <th>{{$t('Translation')}}</th>
                                <th colspan="2">{{$t('Actions')}}</th>
                            </tr>
                            <tr>
                                <td><textarea class="form-control" v-model="newTrans.key"></textarea></td>
                                <td><textarea class="form-control" v-model="newTrans.value"></textarea></td>
                                <td colspan="2">
                                    <button type="button" class="btn btn-info" @click="addTranslation(index)">{{$t('Add New')}}
                                    </button>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(bit, kit) in item" v-bind:key="kit">
                                <td>
                                    {{kit}}
                                </td>
                                <td>
                                    <textarea class="form-control" v-model="languages[index][kit]"></textarea>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" @click="saveTranslation(index, kit)">{{$t('Save')}}</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger"
                                            @click="deleteTranslation(index, kit)">{{$t('Delete')}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Translation',
    data () {
        return {
            languages: {},
            filterList: {},
            newTrans: {
                key: '',
                value: ''
            },
            search: '',
            timeout: null
        }
    },
    watch: {
        search: function (val, oldVal) {
            console.log(val)
            this.filteredLanguages()
        }
    },
    computed: {
        apiUrl: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/translation`
        }
    },
    mounted: function () {
        this.listTranslation()
    },
    methods: {
        listTranslation () {
            const self = this
            self.axios.get(self.apiUrl + '/list').then((response) => {
                self.languages = response.data.languages
                self.filterList = response.data.languages
            })
        },
        filteredLanguages () {
            const newItems = Object.assign({}, this.languages)
            const newObj = {}
            const self = this
            if (this.search.length > 0) {
                for (const it in newItems) {
                    newObj[it] = {}
                    for (const kit in newItems[it]) {
                        if (kit.toLowerCase().includes(self.search.toLowerCase()) || newItems[it][kit].toLowerCase().includes(self.search.toLowerCase())) {
                            newObj[it][kit] = newItems[it][kit]
                        }
                    }
                }

                this.filterList = Object.assign({}, newObj)
            } else {
                this.filterList = this.filterList = Object.assign({}, newItems)
            }
        },
        addTranslation (lang) {
            const self = this
            const item = this.newTrans.key

            this.languages[lang][item] = this.newTrans.value

            this.axios.post(`${this.apiUrl}/save`, {
                lang: lang,
                key: item,
                value: this.newTrans.value
            }).then(res => {
                self.newTrans.key = ''
                self.newTrans.value = ''
            })
        },
        deleteTranslation (lang, item) {
            const self = this

            this.axios.delete(`${this.apiUrl}/delete`, {
                params: {
                    lang: lang,
                    key: item
                }
            }).then(res => {
                self.listTranslation()
            })
        },
        saveTranslation (lang, item) {
            let value = ''
            const self = this
            value = this.languages[lang][item]

            this.axios.post(`${this.apiUrl}/save`, {
                lang: lang,
                key: item,
                value: value
            }).then(res => {
                self.newTrans.key = ''
                self.newTrans.value = ''
                self.languages[lang][item] = value
            })
        }
    }
}
</script>
