<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Blog category') }}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'info-lang'+l">
                                <FormInput v-model = "model.name[l]" :lang = "l" :title = "$t('Name')"
                                           :flag = "l"
                                ></FormInput>
                            </div>
                            <div class = "col-md-12"></div>
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'info-lang22'+l">
                                <FormInput v-model = "model.meta_title[l]" :lang = "l" :title = "$t('Meta Title')"
                                           :flag = "l"
                                ></FormInput>
                            </div>
                            <div class = "col-md-12"></div>
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'info-lang'+l">
                                <FormTextArea v-model = "model.meta_description[l]" :lang = "l"
                                              :title = "$t('Meta Description')" :flag = "l"
                                ></FormTextArea>
                            </div>
                            <div class = "col-md-12"></div>
                            <div class = "col-md-6">
                                <FormInput v-model = "model.slug" :title = "$t('Url')"
                                           v-on:keyupEvent = "setSlugEditSlug('en')"
                                ></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormSelect :select2 = "true" v-model = "model.parent_id" :options = "categories"
                                            :title = "$t('Parent category')"
                                ></FormSelect>
                            </div>
                            <div class = "col-md-6">
                                <FormFileUpload v-model = "model.og_image" :title = "$t('og:image')"></FormFileUpload>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../../resources/js/components/form/FormCheckbox'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormFileUpload from '../../../../../../../resources/js/components/form/FormFileUpload'

export default {
    name: 'CategoryForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        categories: {
            required: true
        }
    },
    data () {
        return {
            slugEditable: {}
        }
    },
    methods: {
        setSlugEditSlug (_lang) {
            const self = this
            setTimeout(function () {
                self.model.slug = self.sanitizeTitle(self.model.slug)
            }, 500)
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormCheckbox, FormTextArea, FormInput, FormFileUpload }

}
</script>
