<template>
    <li>
        <div class="title">{{category.name}}</div>
        <div class="btns">
            <a @click="editAction(category)" style="display: inline-block"
               class="btn btn-sm btn-clean btn-icon btn-icon-md" :title="$t('Edit Details')">
                <i class="la la-edit"></i>
            </a>
            <a @click="deleteAction(category)" style="display: inline-block"
               class="btn btn-sm btn-clean btn-icon btn-icon-md" :title="$t('Delete')">
                <i class="la la-trash"></i>
            </a>
        </div>
        <ul v-if="category.children.length > 0">
            <Tree v-for="(item, index) in category.children" :url="url" v-bind:key="'tree-' + category.id + '-' + index" :category="item" :module="module" v-on:updateData="updateData"></Tree>
        </ul>
    </li>
</template>

<script>
export default {
    name: 'Tree',
    props: ['category', 'module', 'url'],
    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },
        lang: function () {
            return localStorage.getItem('language')
        }
    },
    methods: {
        updateData () {
            this.$emit('updateData', true)
        },
        editAction (data) {
            this.$router.push(`/${this.adminUrl}/${this.module}/edit/${data.id}`)
        },
        deleteAction (data) {
            const self = this

            self.$http.delete(self.url + `/delete/${data.id}`, {
                headers: {
                    Authorization: 'Bearer ' + self.token,
                    language: self.$store.state.defaultStore.language
                }
            }).then(res => {
                if (res.data.data.message === 'OK') {
                    // self.$nextTick(() => self.$refs.vuetable.refresh())
                    self.$emit('updateData', true)

                    swal.fire(this.$t('Deleted!'), this.$t('Row has been deleted.'), 'success')
                }
            })
        }
    }
}
</script>
