<template>
    <div>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`galeryimages`" :apiurl="url"
                       :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'

export default {
    name: 'GaleryImagesList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedGaleryImages', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'image',
                    sortField: 'image',
                    title: this.$translate.t('Image')
                },
                {
                    name: 'galery_id',
                    sortField: 'galery_id',
                    title: this.$translate.t('Galery')
                },
                {
                    name: 'title',
                    sortField: 'title',
                    title: this.$translate.t('Title')
                },
                {
                    name: 'description',
                    sortField: 'description',
                    title: this.$translate.t('Description')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
