<template>
    <GaleryImagesForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></GaleryImagesForm>
</template>

<script>
import GaleryImagesForm from './GaleryImagesForm'
import GaleryImages from './GaleryImages'

export default {
    name: 'GaleryImagesEdit',
    extends: GaleryImages,
    data () {
        return {
            model: {}
        }
    },
    components: { GaleryImagesForm },
    beforeMount: function () {
        this.handleUpdate('galery-images', this.url, {})

        this.getGaleryImages()
    }
}
</script>
