<template>
    <UserForm :url="url" :model="model"></UserForm>
</template>

<script>
import UserForm from './UserForm'

export default {
    name: 'ProfileView',
    props: ['url'],
    data () {
        return {
            model: {
                shipping: {},
                billing: {},
                roles: {}
            }
        }
    },
    components: { UserForm },
    beforeMount: function () {
        const self = this

        this.$eventHub.$off('save')
        this.$eventHub.$on('save', function (type) {
            self.axios.put(self.url + '/update-profile', self.model).then((response) => {
                self.$router.push(`/${process.env.MIX_ADMIN_URL}/profile`)
            }).catch((err) => {
                self.$store.commit('defaultStore/setErrors', err.response.data.errors)
            })
        })

        this.axios.get(this.url + '/profile').then((response) => {
            this.model = response.data.data
            if (this.model.shipping == null) {
                this.model.shipping = {}
            }
            if (this.model.billing == null) {
                this.model.billing = {}
            }
            if (this.model.roles == null) {
                this.model.roles = {}
            }
        })
    }
}
</script>
