<template>
    <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" :class="{'active': ($route.params.tab === null || $route.params.tab === 'profile')}" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                           <i class="flaticon2-layers"></i> {{$t('Profile')}}
                        </a>
                    </li>
                    <template v-if="model && model.id > 0">
                        <li class="nav-item">
                            <a class="nav-link" :class="{'active': ($route.params.tab === 'password')}" data-toggle="tab" href="#kt_apps_user_edit_tab_4" role="tab">
                                <i class="flaticon-safe-shield-protection"></i> {{$t('Password')}}
                            </a>
                        </li>
                        <li class="nav-item" v-if="!$route.path.includes('/profile')">
                            <a class="nav-link" :class="{'active': ($route.params.tab === 'permissions')}" data-toggle="tab" href="#kt_apps_user_edit_tab_5" role="tab">
                                <i class="flaticon2-indent-dots"></i> {{$t('Permissions')}}
                            </a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <form action="" method="" autocomplete="false">
                <div class="tab-content">
                    <Profile :url="url" :model="model" :active="($route.params.tab === null || $route.params.tab === 'profile')"></Profile>
                    <template v-if="model && model.id > 0">
                        <Shipping :url="url" :model="model" :active="($route.params.tab === 'shipping')"></Shipping>
                        <Billing :url="url" :model="model" :active="($route.params.tab === 'billing')"></Billing>
                        <Password :url="url" :model="model" :active="($route.params.tab === 'password')"></Password>
                        <Permissions v-if="!$route.path.includes('/profile')" :url="url" :model="model" :active="($route.params.tab === 'permissions')"></Permissions>
                    </template>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import Profile from './tabs/Profile'
import Shipping from './tabs/Shipping'
import Billing from './tabs/Billing'
import Password from './tabs/Password'
import Permissions from './tabs/Permissions'

export default {
    name: 'UserForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { Permissions, Password, Billing, Shipping, Profile },
    methods: {
        active (tab) {
            if (!this.$route.params.tab && tab === 'general') {
                return true
            }
            if (this.$route.params.tab === tab) {
                return true
            }
            return false
        }
    }
}
</script>
