<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{ $t('Top blocks') }}</h3>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6" v-for="l in languages" v-bind:key="'lang2'+l">
                                <FormInput v-model="model.title[l]" :flag = "l" :title="$t('Kép címe')"></FormInput>
                            </div>
                            <div class="col-md-6" v-for="l in languages" v-bind:key="'lang1'+l">
                                <FormTextArea v-model="model.description[l]" :flag = "l"
                                              :title="$t('Leírás')"></FormTextArea>
                            </div>
                            <div class="col-md-6">
                                <FormFileUpload v-model="model.image" :title="$t('Kép')" :options="{}"></FormFileUpload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'

export default {
    name: 'TopblockForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: {
        FormFileUpload,
        FormInput,
        FormTextArea
    },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
