<template>
    <TopblockForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></TopblockForm>
</template>

<script>
import TopblockForm from './TopblockForm'
import Topblock from './Topblock'

export default {
    name: 'TopblockCreate',
    extends: Topblock,
    data () {
        return {
            model: {}
        }
    },
    components: { TopblockForm },
    beforeMount: function () {
        this.handleCreate('topblok', this.url, {})

        this.getTopblock()
    }
}
</script>
