<template>
    <PartnersForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PartnersForm>
</template>

<script>
import PartnersForm from './PartnersForm'
import Partners from './Partners'

export default {
    name: 'PartnersEdit',
    extends: Partners,
    data () {
        return {
            model: {}
        }
    },
    components: { PartnersForm },
    beforeMount: function () {
        this.handleUpdate('partner', this.url, {})

        this.getPartners()
    }
}
</script>
