<template>
    <div class="tab-pane" id="kt_apps_user_edit_tab_4" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                            <div class="alert-text">{{$t('Passwords must be more then 6 characters long, should contains one Uppercase letter, one lowercase letter, one numeric value and one special character.')}}</div>
                        </div>
                        <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                                <h3 class="kt-section__title kt-section__title-sm">{{$t('Change password')}}:</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('New Password')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <input type="password" class="form-control" v-bind:class="{'is-invalid': hasError('new_password')}" value="" :placeholder="$t('New password')" v-model="model.new_password" autocomplete="new-password">
                                <div class="invalid-feedback" v-for="message in filter('new_password')"
                                     v-bind:key="message">{{message}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-last row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Verify Password')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <input type="password" class="form-control" v-bind:class="{'is-invalid': hasError('verify_password')}" value="" :placeholder="$t('Verify password')" v-model="model.verify_password" autocomplete="new-password">
                                <div class="invalid-feedback" v-for="message in filter('verify_password')"
                                     v-bind:key="message">{{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Password',
    props: ['model', 'url']
}
</script>
