<template>
    <div class="tab-pane" id="kt_apps_user_edit_tab_5" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <!--<div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                            <div class="alert-text">{{$t('Permissions can only be modified by SuperAdmin users.')}}</div>
                        </div>-->
                        <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                                <h3 class="kt-section__title kt-section__title-sm">{{$t('User granted permission groups')}}:</h3>
                            </div>
                        </div>
                        <div class="form-group form-group-sm row" v-for="(item, index) in roles" v-bind:key="index">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{item.name}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <span class="kt-switch">
                                    <label>
                                        <input type="checkbox" v-model="userRoles[item.id]" :value="item.id">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Permissions',
    props: ['model', 'url'],
    data () {
        return {
            roles: [],
            userRoles: []
        }
    },
    watch: {
        userRoles: {
            handler: function (val, oldVal) {
                this.model.user_roles = this.userRoles
            },
            deep: true
        }
    },
    beforeMount () {
        const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/role/role-list`

        this.axios.get(uri).then((response) => {
            this.roles = response.data

            for (const it in this.model.roles) {
                this.userRoles[this.model.roles[it].id] = true
            }

            this.model.user_roles = this.userRoles
        })
    }
}
</script>
