<template>
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{$t('Best Sellers')}}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_widget5_tab1_content" role="tab">
                            {{$t('Latest')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_widget5_tab2_content" role="tab">
                            {{$t('Month')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_widget5_tab3_content" role="tab">
                            {{$t('All time')}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true">
                    <div class="kt-widget5">
                        <div class="kt-widget5__item" v-for="(item, index) in response.latest" v-bind:key="'latest-' + index">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <ImageLazy class="kt-widget7__img" :image="item.variation.og_image"></ImageLazy>
                                </div>
                                <div class="kt-widget5__section">
                                    <router-link :to="{name: 'ProductEdit', params: {id: item.variation.ws_product_id}}" class="kt-widget5__title">
                                        {{item.product_name}}
                                    </router-link>
                                    <p class="kt-widget5__desc">
                                        {{item.variation.sku}}
                                    </p>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{item.cnt}}</span>
                                    <span class="kt-widget5__sales">{{$t('sales')}}</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{item.stock.sum_quantity}}</span>
                                    <span class="kt-widget5__votes">{{$t('stock')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_widget5_tab2_content">
                    <div class="kt-widget5">
                        <div class="kt-widget5__item" v-for="(item, index) in response.monthly" v-bind:key="'monthly-' + index">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <ImageLazy class="kt-widget7__img" :image="item.variation.og_image"></ImageLazy>
                                </div>
                                <div class="kt-widget5__section">
                                    <router-link :to="{name: 'ProductEdit', params: {id: item.variation.ws_product_id}}" class="kt-widget5__title">
                                        {{item.product_name}}
                                    </router-link>
                                    <p class="kt-widget5__desc">
                                        {{item.variation.sku}}
                                    </p>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{item.cnt}}</span>
                                    <span class="kt-widget5__sales">{{$t('sales')}}</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{item.stock.sum_quantity}}</span>
                                    <span class="kt-widget5__votes">{{$t('stock')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_widget5_tab3_content">
                    <div class="kt-widget5">
                        <div class="kt-widget5__item" v-for="(item, index) in response.all_time" v-bind:key="'all_time-' + index">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <ImageLazy class="kt-widget7__img" :image="item.variation.og_image"></ImageLazy>
                                </div>
                                <div class="kt-widget5__section">
                                    <router-link :to="{name: 'ProductEdit', params: {id: item.variation.ws_product_id}}" class="kt-widget5__title">
                                        {{item.product_name}}
                                    </router-link>
                                    <p class="kt-widget5__desc">
                                        {{item.variation.sku}}
                                    </p>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{item.cnt}}</span>
                                    <span class="kt-widget5__sales">{{$t('sales')}}</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{item.stock.sum_quantity}}</span>
                                    <span class="kt-widget5__votes">{{$t('stock')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'

export default {
    props: ['response'],
    components: { ImageLazy }
}
</script>
