<template>
    <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{$t('New Users')}}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_widget4_tab1_content" role="tab">
                            {{$t('Today')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_widget4_tab2_content" role="tab">
                            {{$t('Month')}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="kt_widget4_tab1_content">
                    <div class="kt-widget4">
                        <div class="kt-widget4__item" v-for="(item, index) in response.today_new_users" v-bind:key="'daily-new-users-' + index">
                            <div class="kt-widget4__pic kt-widget4__pic--pic">
                                <ImageLazy v-if="item.avatar" :image="item.avatar"></ImageLazy>
                            </div>
                            <div class="kt-widget4__info">
                                <a href="#" class="kt-widget4__username">
                                    {{item.name}}
                                </a>
                                <p class="kt-widget4__text">
                                    {{item.email}}
                                </p>
                            </div>
                            <router-link :to="{name: 'UserEdit', params: {id: item.id}}" class="btn btn-sm btn-label-brand btn-bold">{{$t('View Profile')}}</router-link>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_widget4_tab2_content">
                    <div class="kt-widget4">
                        <div class="kt-widget4__item" v-for="(item, index) in response.monthly_new_users" v-bind:key="'monthly-new-users-' + index">
                            <div class="kt-widget4__pic kt-widget4__pic--pic">
                                <ImageLazy v-if="item.avatar" :image="item.avatar"></ImageLazy>
                            </div>
                            <div class="kt-widget4__info">
                                <a href="#" class="kt-widget4__username">
                                    {{item.name}}
                                </a>
                                <p class="kt-widget4__text">
                                    {{item.email}}
                                </p>
                            </div>
                            <router-link :to="{name: 'UserEdit', params: {id: item.id}}" class="btn btn-sm btn-label-brand btn-bold">{{$t('View Profile')}}</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'

export default {
    props: ['response'],
    components: { ImageLazy }
}
</script>

<style scoped>
.kt-widget4 {
    overflow-y: scroll;
    max-height: 400px;
}
</style>
