<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{$t('Slide details')}}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang1'+l">
                                <FormInput v-model = "model.name[l]" :title = "$t('Name')" :flag = "l"></FormInput>
                            </div>
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang2'+l">
                                <FormInput v-model = "model.lead[l]" :title = "$t('Lead')" :flag = "l"></FormInput>
                            </div>
                            <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang3'+l">
                                <FormInput v-model = "model.button_text[l]" :title = "$t('Link button text')" :flag = "l"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model = "model.link" :title = "$t('Link')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormDropZone  :title = "$t('Image')" :options = "{}" v-on:success="success($event)"></FormDropZone>
                                <ImageLazy v-if="model.image_path" :image="model.image_path" style="width:130px"></ImageLazy>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import ImageLazy from '../../../../../../resources/js/components/ImageLazy'

export default {
    name: 'SliderForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormDropZone, ImageLazy },
    methods: {
        success ($event) {
            console.log('success')
            this.model.image_path = $event
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
