<template>
    <SliderForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></SliderForm>
</template>

<script>
import SliderForm from './SliderForm'
import Slider from './Slider'

export default {
    name: 'SliderEdit',
    extends: Slider,
    data () {
        return {
            model: {}
        }
    },
    components: { SliderForm },
    beforeMount: function () {
        this.handleUpdate('sliders', this.url, {})

        this.getSlider()
    }
}
</script>
